/* Base */
html,
body {
  margin: 0;
  padding: 0;
}

.font-face-mt {
  font-family: "Montserrat";
 }

 .font-face-mtm {
  font-family: "MontserratMedium";
 }

 .font-face-mtb {
  font-family: "MontserratBold";
 }


/* Contenu */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
