.Logement {
    color: #ff6060;
}

.Fiche {
    color: #ff6060;
}

.logements-propietaire {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nomLogement {
    width: 50%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.information-logements {
    flex-direction: column;
}

.titre-logement {
    display: block;
    font-size: 21px;
    margin-bottom: 5px;
}

.endroit-logement {
    font-size: 14px;
    margin-bottom: 10px;
}

.information-propietaire {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    width: 100%;
}


.nom-proprietaire {
    font-size: 18px;
    margin-right: 10px;
    text-align: right;
    width: 100px;
}

.photo-propietaire {
    border-radius: 50%;
    height: 64px;
    object-fit: cover;
    width: 64px;
}

.note {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.etoile {
    height: 30px;
    width: 30px;
}

.description-equipements {
    display: inline-flex;
    gap: 0 75px;
    line-height: 22.5px;
    list-style: none;
    margin-top: 25px;
    width: 100%;
}

.description-equipements > .dropdown {
    width: 50%;
}

.tagsList {
    padding-inline-start: 0px;
}

.tags {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px 0;
}

.tags > .tag {
    margin-left: 0px;
    min-width: 50px;
}

.proprietaire-note {
    width: 100%;
}

.information-propietaire {
        margin-bottom: unset;
        width: 100%;
    }

    .photo-propietaire {
        height: 32px;
        width: 32px;
    }

    .star {
        height: 25px ;
        margin-right: 10px;
        margin-top: 20px;
    }

    .description-equipements > .dropdown {
        width: 100%;
    }
    
    .dropdown {
        margin-bottom: 20px;
    }

    @media (max-width: 767px) {
        .logements-propietaire {
            flex-direction: column;
            width: 100%;
        }

        .proprietaire-note {
            display: flex;
            flex-direction: row-reverse;
        }

        .star {
            margin-top: 0px;
            margin-right: 5px;
        }

        .description-equipements {
            display: block;
        }

    }