.banner {
  border-radius: 25px;
  height: 225px;
  margin-bottom: 35px;
  position: relative;
}

.banner-img {
  border-radius: 25px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banner-sombre {
  background-color: #000000;
  border-radius: 25px;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

.banner-txt {
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 22%;
}

@media (max-width: 767px) {
  .banner {
    height: 125px;
    margin-bottom: 25px;
    position: relative;
  }

  .banner-img {
    border-radius: 15px;
  }
  .banner-sombre {
    border-radius: 15px;
  }

  .banner-txt {
    font-size: 22px;
    left: 12%;
    }

}